<table class="responsive-table highlight">
<tr>
    <th>e-Book</th>
    <th>Link</th>
    <th>details</th>
    <th>QR Code</th>
  </tr>
  <tr>
    <td>Springer e-Books<sup><img src="./assets/images/new-colorful.gif" alt="Person" style="width:20%"></td>
    <td><a href="http://link.springer.com" target="_blank">http://link.springer.com</a></td>
    <td><li>IT INCLUDES 9,000+ E-BOOKS</li>
    <td><center><img src="./assets/images/springer.jpg" alt="Person" style="width:50%"></center></td>

  </tr>
  <tr>
    <td>Videeya e-Books<sup><img src="./assets/images/new-colorful.gif" alt="Person" style="width:20%"></td>
    <td><a href="http://www.videeya.com" target="_blank">http://www.videeya.com</a></td>
    <td><li>IT INCLUDES 382 TITLES FROM PHI PUBLICATION</li></td>
    <td><center><img src="./assets/images/videeya.jpg" alt="Person" style="width:50%"></center></td>
  </tr>
  
</table>