<table class="respnsive-table" style="width: 100%;">
    <tr><td colspan="4" bgcolor="#C0C0C0"><center>Designed by: <strong> Abhijeet Survase </strong> , Library Assistant (RAIT) <br>
                            Co-developers: <strong>Amankumar Shrivastav & Siddharth Ramesh Chand Raja</strong>
         </center></td>
        
</table>