<table class="responsive-table highlight">
    <tr>
        <th>Library Book Search</th>
        <th>Link</th>
        <th>details</th>
        <th>QR Code</th>
      </tr>
      <tr>
        <td>Web OPAC<sup><img src="./assets/images/new-colorful.gif " alt="Person" style="width:20%" ></sub></td>
        <td><a href="http://10.0.0.15:80/W27/w27SimpleSearch.aspx" target="_blank">http://10.0.0.15/w27/</a></td>
        <td><li>Advanced Search </li>
            <li>My Info </li>
             <li>Browse</li>
              <li> Arrivals</li> 
              <li>Expected </li>
              <li>Reference Items </li>
               <li> Journal List</li>
               <li>Media List</li>
               <li>Rules </li>
               <li>Show My Basket </li>
           <td><center><img src="./assets/images/knimbus.jpg" alt="Person" style="width:30%"></center></td>
          
      </tr>
     
    </table>
    