<table class="responsive-table highlight">
  <tr>
    <th>question paper</th>
    <th>Link</th>
    <th>branch</th>
    <th>QR Code</th>
  </tr
    <tr>
    <td >qustion paper<sup><img src="./assets/images/new-colorful.gif" alt="Person" style="width:20%"></td>
    <td><a href="https://drive.google.com/drive/folders/1IWg3sxnK0abUSWn3UUJckaoSMRSS19UD?usp=sharing" target="_blank">Question Papers</a></td>
    <td><li>Computer </li>
             <li>Electronics</li>
              <li> Extc</li> 
              <li> Instru</li>
              <li>Info. Tech</li></td>
    <td><center><img src="./assets/images/questionpaper.jpg" alt="Person" style="width:20%"></center></td>
    </tr>
     </tr>
    </table>
    